

.btn__cv {
    padding: 1rem;
    border-radius: 25px;
    font-family: sans-serif;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
}

// .CV__icon {
//     padding: 1px; 
//     font-size: 15px;
// }

.about__container {
    grid-template-columns: repeat(2 , 1fr);
    align-items: center;
    column-gap: 4rem;
}

.about__img {
    width: 350px;
    border-radius: 1.5rem;
    justify-self: center;
}

// .about__info {
//     grid-template-columns: repeat(3, 140px);
//     gap: 0.5rem;
//     margin-bottom: var(--mb-2);
// }

.about__description {
    padding: 0 4rem 0 0;
    margin-bottom: var(--mb-2);
}

/* ============ BREAKPOINTS ================ */

/* For legal devices */
@media screen and (max-width: 992px) {
    .about__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem !important;
    }

    .about__data {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .about__description {
        padding: 0 5rem;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 768px) {

    body {
        margin: 0 0 var(--header-height) 0;
    }

    .section {
        padding: 2rem 0 4rem;
    }

    .section__subtitle {
     margin-bottom: var(--mb-3);
    }
 }


/* For medium devices */
@media screen and (max-width: 576px) {
   .about__description {
    padding: 0;
   }
}

/* For small devices */
// @media screen and (max-width: 768px) {
//     .section__subtitle {
//      margin-bottom: var(--mb-3);
//     }
//  }